*{
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p1{
  color: #71717a;
  font-size: 1.25rem;
}

.method{
  display: flex;
  flex-direction: column;
  padding: 3%;
  width: 25vw;
  border: #eeeeee 2px solid;
  border-radius: 10px;
  margin: 2%;
}

.method > div{
  margin: 1%;
}

.method:hover{
  border: 1px #3c83f6 solid;
  background-color: #fafaff;
  box-shadow: 2px 2px 2px  2px #cccccc;
  transition: ease-in-out 0.3s; 
}
.ideal{
  background-color: #40bf80;
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
}

.tools{
  background-color: #fff;
  border: 1px solid #71717a;
  border-radius: 10px;
  color: #000;
  font-weight: 700;
  padding: 0.5rem 0.7rem;
}

.compare{
  background-color: "#cccccc"
}

.three-container{
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
  min-width: 15vw;
}
