*{
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p1{
  color: #71717a;
  font-size: 1.25rem;
}

#method-container{
  display: grid;
  grid-template-columns: auto auto auto;
}

.method{
  display: flex;
  flex-direction: column;
  padding: 3%;
  width: 25vw;
  border: #eeeeee 2px solid;
  border-radius: 10px;
  margin: 2rem;
}

.method > *{
  margin: 0.7rem;
}

.method:hover{
  border: 1px #3c83f6 solid;
  background-color: #fafaff;
  box-shadow: 2px 2px 2px  2px #cccccc;
  transition: ease-in-out 0.3s; 
}

.method-btn{
  background-color: #40aaab;
  color: #fff;
  border: solid;
  padding: 1rem;
  border-radius: 10px;
}

.method-btn:hover{
  background-color: #4099c9;
  border: 1px solid #000000;
  transition: 0.3s;
}


.ideal{
  background-color: #40bf80;
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
}

.tools{
  background-color: #fff;
  border: 1px solid #71717a;
  border-radius: 10px;
  color: #000;
  font-weight: 700;
  padding: 0.5rem 0.7rem;
}

.compare{
  background-color: "#cccccc"
}

.three-container{
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
  min-width: 15vw;
}

.form{
 padding: 2rem;
 width: 80vw;
}

.bottom-bar{
   width: 60vw;
   height: 2vh;
   background-color: #27aa83;
   border-radius: 3rem;
 }

 .inner-bar{
  height: 2vh;
  background-color: #3c83f6;
  border-radius: 3rem;
 }


#span-container{
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#span-container > span{
  font-weight: bold;
}

.question-container{
  border: #ccc 1px solid;
  border-radius: 1rem;
  margin: 2rem;
  padding: 1rem;
  background-color: #fefefe;
}

.question-container > * {
  margin: 1rem;
}

.ans-container{
  border: 2px #ddd solid;
  border-radius: 1rem;
  padding: 1rem;
}

.ans-container:hover{
  border: #3c83f6 2px solid;
  transition: 0.3s;
  background-color: #f1f5f9;
}

.ans-container-selected{
  border: #27aa83 2px solid;
  background-color: #f1f5f9;
  border-radius: 1rem;
  padding: 1rem;
}

.prev{
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 1rem;
}


.next{
  padding: 1rem;
  background-color: #3c83f6;
  border: 1px solid #3c83f6;
  border-radius: 1rem;
  color: #fff;
}
