*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f8f9fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

header{
  background-color: #f8f9fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 100vw;
  height: 100vh;
}

header >  *{
  display: flex;
}


h1{
  background: linear-gradient(to right, #3988e6, #29a78c, #3296bf);
  color: transparent;
  background-clip: text;
  font-size: 3.75rem;
}

header > p {
 color: #65738b;
 font-size: 1.25rem;
}

.container{
  width: 35vw;
  height: auto;
  background-color: #fff;
  border-radoius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

container > span{
  font-size: 1.5rem;
}

.container > * {
  margin: 0.5rem;
}

.container > p{
  color: #65738b;
  width: 80%;
}

.container > button{
  background-color: #f39e17;
  padding: 1.5rem 5rem;
  border: solid 1px transparent;
  border-radius: 3%;
  color: #fff;
  font-weight: bold;
}

.container > button:hover{
  box-shadow: 1px 2px 2px #888;
  transition: 0.3s;
}

